button-class {
  background-color: #865ca3;
  border: none;
  color: #79a35c;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 18px;
  margin: 4px 2px;
  -webkit-translation-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
