.background {
  background-color: #fdbc9d;
  color: #1eaa08;
}

.title {
  text-align: left;
  padding: 20px;
}

.button-class {
  display: inline-block;
  min-width: 25%;
  background-color: #bfd42b;
  padding: 10px 80px;
  text-align: left;
  text-decoration: none;
  font-size: 27px;
  margin: 8px 5px;
  color: #0c0f70;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.5;
}
